<h1 class="title">SpaceX Launch Manifest</h1>

<form class="search-form">
  <label for="year">Search by Year: </label>
  <input type="text" id="year" [(ngModel)]="launch_year" name="launch_year"  class="search-input">
  <button type="button" (click)="filterByLaunchYear()"  class="search-button">Search</button>
</form>

<br />

<div *ngFor="let mission of missions" (click)="showMissionDetails(mission.flight_number.toString())"class="mission-container">
  <div class="mission-details"  [routerLink]="['/missions', mission.flight_number]" >
    <img src="{{ mission.links.mission_patch_small }}" alt="{{ mission.mission_name }} logo" class="mission-image">
    <h3>{{ mission.mission_name }}</h3>
    <h4> {{ mission.launch_year }}</h4>
    <p>{{ mission.details }}</p>
  </div>
</div>

<div class="popup" [ngClass]="{'show': selectedMission}">
  <div class="popup-inner">
    <button (click)="closeMissionDetails()" class="close-button">X</button>
    <app-missiondetails *ngIf="selectedMission && selectedFlightNumber" [mission]="selectedMission" [flightNumber]="selectedFlightNumber"></app-missiondetails>
  </div>
</div>